.portfolio-section {
    height: 100vh;
    width: 100%;
    padding: 2rem;
    box-sizing: border-box;
}

.section-nav {
    position: fixed;
    font-size: 10px;
    display: flex;
    padding-top: 5px;
    z-index: 10;
}

.button-nav {
    background: none;
    border: none;
}

.button-nav:focus {
    outline: none;
}

.image-holder {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 100%;
    border: 5px solid black
}

.profile_pic {
    width: 100%;
    height: auto;
    object-fit:cover;
    transform: translateY(-12%);
}

.profile-container {
    width: 100%;
    justify-content: center;
    justify-self: center;
    text-align: center;
}

.profile-display {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.header {
    font-size: 20px;
}

.bio {
    font-size: 14px;
    text-align: left;
}
.contact-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.contact-links {
    width: 50px;
}

#mail-link {
    width: 30px;
}

@media (min-width: 768px) {
    .section-nav{
        top: 10%;
        right: 20px;
        transform: translateY(-20%);
        display: flex;
        flex-direction: column;
    }
}