.portfolio-section {
    height: 100vh;
    width: 100%;
    padding: 2rem;
    box-sizing: border-box;
}

.section-nav {
    position: fixed;
    font-size: 10px;
    display: flex;
    padding-top: 5px;
    backdrop-filter: blur(10px); /* blur effect */
    -webkit-backdrop-filter: blur(10px); /* for Safari */
    z-index: 1000; /* stay on top */
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); /* subtle divider */
  
}

.button-nav {
    background: none;
    border: none;
}

.button-nav:focus {
    outline: none;
}

.image-holder {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 100%;
    border: 5px solid black
}

.profile_pic {
    width: 100%;
    height: auto;
    object-fit:cover;
    transform: translateY(-12%);
}

.profile-container {
    width: 100%;
    justify-content: center;
    justify-self: center;
    text-align: center;
}

.profile-display {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.header {
    font-size: 20px;
}

.bio {
    font-size: 14px;
    text-align: left;
}
.contact-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.contact-links {
    width: 50px;
}

#mail-link {
    width: 30px;
}
.language-div {
    border-radius: 100%;
    background: #1e130c;  
    background: -webkit-linear-gradient(to right, #9a8478, #1e130c); 
    background: linear-gradient(to right, #9a8478, #1e130c); 
    width: 65px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.language-logo {
    width: 45px;              /* set fixed size */
    height: 45px;             /* set fixed size */
    object-fit: contain;      /* preserve aspect ratio */
    display: block;
}

.skillRow {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    align-items: center;
}

@media (min-width: 768px) {
    .section-nav{
        top: 10%;
        right: 20px;
        transform: translateY(-20%);
        display: flex;
        flex-direction: column;
    }
}